.button {
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    line-height: 52px;
    padding: 0 5px;
    border-radius: 24px;
    text-align: center;
    border: 2px solid #c02942;
    background-color: white;
    transition: background-color 0.3s, color 0.1s;;
}

.button:hover {
    background-color: #c02942;
    color: white;
}