main {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

hr {
    border-color: #ebaeae;
}

main div {
    background-color: white;
}

main div ul li {
    display: inline-block;
    font-size: 36px;
    padding: 3px 0 0 16px;
    margin: 0 24px 4px 0;
}

main div ul li:first-child,
main div ul li:nth-child(2) {
    color: #910018;
}

main div ul li:first-child {
    margin-left: 4px;
}

main div ul li:nth-child(2) {
    margin-left: 8px;
}

@media only screen and (max-width: 610px) {
    header {
        padding-bottom: 12px;
    }

    header ul {
        flex-direction: column;
    }
    
    header ul li {
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 370px) {
    main div ul li {
        font-size: 32px;
        padding: 3px 0 0 8px;
    }

    main div ul li:first-child {
        margin-left: 2px;
    }
    
    main div ul li:nth-child(2) {
        margin-left: 8px;
    }
}

@media only screen and (max-width: 320px) {
    main div ul li {
        font-size: 28px;
        padding: 3px 0 0 2px;
    }
}

@media only screen and (max-width: 260px) {
    main div ul li:first-child,
    main div ul li:nth-child(2) {
        font-size: 26px;
    }
}

@media only screen and (max-width: 240px) {
    main div ul li:nth-child(2) {
        font-size: 17px;
    }
}