* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(36, 36, 36);
}

body {
    background-color: rgba(235, 182, 182, 0.75);
}

ul {
    list-style-type: none;
}

header {
    padding: 20px 20px;
    width: 100%;
    background-color: rgba(192, 41, 66, 0.3);
    border-bottom: 2px solid white;
}

header nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

header ul {
    display: flex;
}

header li {
    user-select: none;
    line-height: 52px;
    width: 160px;
    padding: 0 5px;
    margin: 0 30px;
    border-radius: 24px;
    text-align: center;
    border: 2px solid #c02942;
    background-color: white;
    transition: background-color 0.3s;
}

header li:hover {
    background-color: #c02942;
}

header a {
    display: block;
    height: 100%;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.1s;
}

header a:hover {
    color: white;
}